/* ==========================================================================
   Announcements modal global styling.
   ========================================================================== */
#announcement-banner .modal {
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  #announcement-banner .modal {
    top: 50%;
  }
}
#announcement-banner .modal .modal-dialog {
  max-width: 100%;
}
@media screen and (min-width: 720px) {
  #announcement-banner .modal .modal-dialog {
    max-width: 80%;
  }
}
@media screen and (min-width: 960px) {
  #announcement-banner .modal .modal-dialog {
    max-width: 900px;
  }
}
#announcement-banner .modal .modal-dialog .modal-body {
  padding: 20px;
  height: 300px;
}
@media screen and (min-width: 720px) {
  #announcement-banner .modal .modal-dialog .modal-body {
    height: 350px;
  }
}
@media screen and (min-width: 960px) {
  #announcement-banner .modal .modal-dialog .modal-body {
    padding: 40px;
    height: auto;
  }
}
#announcement-banner .modal .modal-dialog .modal-body a {
  font-size: 20px;
  font-weight: normal;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
}
#announcement-banner .modal .modal-dialog .modal-body a:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(close.png);
  background-size: 100% 100%;
}
@media screen and (min-width: 960px) {
  #announcement-banner .modal .modal-dialog .modal-body a:before {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 960px) {
  #announcement-banner .modal .modal-dialog .modal-body a {
    right: 10px;
  }
}
#announcement-banner .modal .modal-dialog .modal-body .content-wrapper {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: 7px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 0 10px;
  height: fit-content;
}
#announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-title {
  font-size: 32px;
}
@media screen and (max-width: 560px) {
  #announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 720px) {
  #announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-desc {
    font-size: 10px;
  }
}
@media screen and (min-width: 960px) {
  #announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-desc {
    font-size: 16px;
  }
}
#announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-desc a {
  color: white;
  font-size: 7px;
  font-weight: 600;
  position: relative;
  right: 0;
}
#announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-desc a:before {
  display: none;
}
@media screen and (min-width: 720px) {
  #announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-desc a {
    font-size: 10px;
  }
}
@media screen and (min-width: 960px) {
  #announcement-banner .modal .modal-dialog .modal-body .content-wrapper .img-desc a {
    font-size: 16px;
  }
}
#announcement-banner .modal-content {
  background: none;
  border: 0;
}
#announcement-banner .modal-content img {
  cursor: pointer;
}
.stickey-widget {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px black;
  border-radius: 5px 0 0 0;
  color: #dd9815;
  cursor: pointer;
  right: -170px;
  transition: 0.5s all ease-in-out;
}
@media screen and (min-width: 960px) {
  .stickey-widget {
    top: 30%;
    bottom: auto;
    border-radius: 5px 0 0 5px;
    max-width: 130px;
    text-align: center;
  }
}
.stickey-widget a {
  display: inline-block;
  padding: 15px;
  font-weight: bold;
  font-family: cursive;
  font-family: sans-serif;
}
.stickey-widget.stickey-slide {
  right: 0;
  transition: 0.5s all ease-in-out;
}
.stickey-widget.stickey-show {
  right: 0;
  transition: 0.5s all ease-in-out;
}
.stickey-widget.stickey-hide {
  display: none;
}
.modal-bg {
  padding: 0 1rem;
}
.modal-bg .modal-body {
  padding: 0;
  margin-top: 16px;
}
@media screen and (min-width: 960px) {
  .modal-bg .modal-body {
    padding: 0;
    margin-top: 50px;
    height: 500px !important;
  }
}
.modal-bg .modal-body a {
  right: -16px !important;
  top: -16px !important;
}
@media screen and (min-width: 960px) {
  .modal-bg .modal-body a {
    right: -30px !important;
    top: -30px !important;
  }
}
.modal-bg .modal-body .modal-image {
  display: none;
}
#announcement-banner .modal .modal-bg .modal-body .content-wrapper {
  width: 90%;
}
.white-bg {
  background-color: #ffffff;
}
.black-bg {
  background-color: #000000;
}
.blue-bg {
  background-color: #000080;
}
.green-bg {
  background-color: #2e8b57;
}
.darkcyan-bg {
  background-color: #008b8b;
}
.gray-bg {
  background-color: #808080;
}
.steelblue-bg {
  background-color: #10485a;
}

#announcement-banner .white-text {
  background: none !important;
  color: #ffffff !important;
}
#announcement-banner .black-text {
  background: none !important;
  color: #000000 !important;
}
#announcement-banner .white-text-with-black-bg {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff !important;
}
#announcement-banner .black-text-with-white-bg {
  background: rgba(255, 255, 255, 0.5) !important;
  color: #000000 !important;
}
